<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>

  <!--  <script type="text/javascript">
        function count() {
            var x = document.getElementById("myTable").rows.length;
            alert("Total number of category is "+x)
        }
    </script>-->

</head>
<body>

<h2>List of Categories</h2>

<table class="table table-stripped" id="myTable">
    <thead>
    <tr>
        <td><b>Id</b></td>
        <td><b>Name</b></td>
    </tr>
    </thead>

    <tr th:each="category:${category}">
        <td th:text="${category.id}">id</td>
        <td th:text="${category.name}">name</td>
    </tr>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="count()">Total Count</button>
</table>



</body>
</html>