<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>
</head>
<body>

<h2>List of product count</h2>
<table class="table table-stripped" id="productCount">
    <thead>
    <tr>
        <td><b>Category Id</b></td>
        <td><b>Count of Products</b></td>
    </tr>
    </thead>
    <tr th:each="eachCategory:${eachCategory}">
        <td th:text="${eachCategory[0]}">category_id</td>
        <td th:text="${eachCategory[1]}">count_of_products</td>
    </tr>
</table>

</body>
</html>